*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/**-----------------------------------------------------------header---------------------------------------------------------------**/

.top{
    height: 56px;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}
.top-left{
    width: 350px;
    display:inline-flex;
    justify-content: left;
    margin-left: 15px;
    align-items: center;
}
.menu{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    margin-right: 25px;
    margin-left: -6px;
}
.menu:hover{
    background-color: #96989f;

}
.top-left i{
   font-size: 23px;
}
.youtube-logo{
    width: 100px;
}
.top-center{
    width: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-center i{
    height: 40px;
    width: 40px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.Search-bar{
    font-size: 18px;
    border: solid 2px  rgb(239 239 239);
}
.top-searchicon{
    font-size: 14px;
    background-color:rgb(248, 248, 248);
    align-items: center;
    margin-right: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: solid 1px rgb(183 169 169);
    cursor: pointer;
    margin-left: -1px;
}
.top-searchicon:hover{
    background-color: #96989f;
}
.top-searchicon i{
    font-size: 19px;
}
.top-voiceicon i{
    font-size: 20px;
    border-radius: 20px;
   
}
.top-voiceicon{
    font-size: 14px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: rgb(239 239 239);
}
.top-voiceicon:hover{
    background-color: #96989f;
}
.Search-bar{
    width: 564px;
    height: 38px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid rgb(183 169 169);
}
.top-right{
    width: 229px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-right i{
    font-size: 20px;
    align-items: space-between;
    cursor: pointer;
}
.video-upload{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.video-upload:hover{
    background-color: #96989f;
    border-radius: 20px;
}
.notification{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.notification:hover{
    background-color: #96989f;
    border-radius: 20px;
}    
.fa-solid.fa-bars:hover{
    border-radius: 20px;
    background-color: #c5cae9;;
}
.top-profilepic{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: black;
    cursor: pointer;
}

/**------------------------------------------------------------side-bar--------------------------------------------------------------**/

.side-bar{
    position: fixed;
    height: 952px;
    width: 80px;
    margin-right: 1px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-size: 10px;
}
.home-main{
    height: 100px;
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}
.home{
    width: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.home-main:hover{
    background-color: #96989f;
    border-radius: 7px;

}
.shorts{
    width: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.shorts-main{
    height: 100px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.shorts-main:hover{
    background-color: #96989f;
    border-radius: 7px;
}
.subscriptions{
    width: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.subscriptions-main{
    height: 100px;
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}
.subscriptions-main:hover{
    background-color: #96989f;
    border-radius: 7px;

}
.you{
    width: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.you-main{
    height: 100px;
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}
.you-main:hover{
    background-color: #96989f;
    border-radius: 7px;
}
/**-----------------------------------------------------------suggesion-bar------------------------------------------------------------**/

.top-suggesions{
    height: 56px;
    width: 1990px;
    margin-left: 80px;
    display:flex ;
    align-items: center;
    justify-content: space-evenly;
}
.suggesion{
    background-color:rgb(239 239 239); 
    height: 35px;
    display:flex ;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 15px;
    border-radius: 5px;
}
.suggesion:hover{
    background-color: #96989f;
    border-radius: 7px;

}

/**-------------------------------------------------------------------content----------------------------------------------------------**/

.content-section{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    margin-left: 85px;
    margin-right: 30px;
    margin-top: 30px;
    padding-left: 35px;

}
.content{
    cursor: pointer;
}
.img-1{
    width: 370px;
    border-radius: 12px;
}
.content-info{
    width: 311px;
}
.profile-pic{
    width: 45px;
    height: 116px;
}
.dp-size{
    width: 45px;
    border-radius: 22.5px;
}
.content-footer{
    margin-top: 20px;
    margin-bottom: 35px;
    display: flex;
}
.info-first{
    margin-bottom: 10px;
}
.author{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 5px;
}
.info-last{
    margin-left: px;
}
.three-dot{
    font-size: 20px;
    width: 13px;
}